<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<h1>Editar Usuario</h1>

<!-- Barra de búsqueda -->
<form action="/usuarios/buscar" method="post">
    <label for="correoSearch">Buscar usuario por correo:</label>
    <input type="email" id="correoSearch" name="correo" required>
    <button type="submit">Buscar</button>
</form>

<div th:if="${usuario}">
    <!-- Formulario de edición -->
    <form th:action="@{/usuarios/actualizar}" th:object="${usuario}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="nombreUsuario">Nombre</label>
            <input type="text" th:field="*{nombreUsuario}" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="correo">Correo</label>
            <input type="email" th:field="*{correo}" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="rol">Rol</label>
            <select th:field="*{rol}" class="form-select">
                <option value="USER">USER</option>
                <option value="ADMIN">ADMIN</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>

    <form id="eliminarForm" action="/usuarios/eliminar" method="post" style="display: none;">
        <input type="hidden" name="idUsuario" th:value="${usuario.id}">
    </form>

    <button id="btnEliminar" data-id="${usuario.idUsuario}" class="btn btn-danger" onclick="confirmarEliminacion()">Eliminar Usuario</button>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var mensaje = /*[[${mensaje}]]*/ 'null';
    var tipoAlerta = /*[[${tipoAlerta}]]*/ 'null';

    if (mensaje && mensaje !== 'null' && tipoAlerta && tipoAlerta !== 'null') {
        Swal.fire({
            icon: tipoAlerta,
            title: tipoAlerta === 'success' ? '¡Éxito!' : '¡Error!',
            text: mensaje,
            confirmButtonText: 'Aceptar'
        });
    }

    function confirmarEliminacion() {
        Swal.fire({
            title: "¿Estás seguro?",
            text: "No podrás revertir esto",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Sí, eliminar"
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('eliminarForm').submit(); // Enviar el formulario si se confirma
            }
        });
    }
    /*]]>*/
</script>
</body>
</html>
